 body {
  background-image: url("src/background.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
	display: block;
	text-align: center;
	margin: auto;
}

div .option {
	background-color: white;
	opacity: 0.8;
	border: 2px solid grey;
}

.goto {
	color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 6px;	
	background-color: green;
	display: block;
	margin: auto;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
}

.goto:hover {
	background-color: #016f07;
	
}
